.share-img{
  width: 320px;
  height: auto;
}
.top-left{
  place-self: center;
  text-align: center;
}
.top-left h2{
  font-size: 2.5rem;
}
.deep-shadow{
  box-shadow: 0 10px 27px rgb(59 43 91 / 70%);
}
.deep-shadow2{
  box-shadow: 5px 5px rgba(0, 98, 90, 0.4),
              10px 10px rgba(0, 98, 90, 0.3),
              15px 15px rgba(0, 98, 90, 0.2),
              20px 20px rgba(0, 98, 90, 0.1),
              25px 25px rgba(0, 98, 90, 0.05);
}
.soft-shadow{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.soft-shadow2{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
